//@import url(https://fonts.googleapis.com/css?family=Exo:400,200,700,300);
@font-face {
    font-family: 'exo_softbold';
    src: url('../fonts/exo_soft_bold-webfont.eot');
    src: url('../fonts/exo_soft_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo_soft_bold-webfont.woff2') format('woff2'),
         url('../fonts/exo_soft_bold-webfont.woff') format('woff'),
         url('../fonts/exo_soft_bold-webfont.ttf') format('truetype'),
         url('../fonts/exo_soft_bold-webfont.svg#exo_softbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'exo_softextra_light';
    src: url('../fonts/exo_soft_extra_light-webfont.eot');
    src: url('../fonts/exo_soft_extra_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo_soft_extra_light-webfont.woff2') format('woff2'),
         url('../fonts/exo_soft_extra_light-webfont.woff') format('woff'),
         url('../fonts/exo_soft_extra_light-webfont.ttf') format('truetype'),
         url('../fonts/exo_soft_extra_light-webfont.svg#exo_softextra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'exo_softlight';
    src: url('../fonts/exo_soft_light-webfont.eot');
    src: url('../fonts/exo_soft_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo_soft_light-webfont.woff2') format('woff2'),
         url('../fonts/exo_soft_light-webfont.woff') format('woff'),
         url('../fonts/exo_soft_light-webfont.ttf') format('truetype'),
         url('../fonts/exo_soft_light-webfont.svg#exo_softlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'exo_softregular';
    src: url('../fonts/exo_soft-webfont.eot');
    src: url('../fonts/exo_soft-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo_soft-webfont.woff2') format('woff2'),
         url('../fonts/exo_soft-webfont.woff') format('woff'),
         url('../fonts/exo_soft-webfont.ttf') format('truetype'),
         url('../fonts/exo_soft-webfont.svg#exo_softregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
// Styles
// ------------------------------------

// first of all. Choose your options
$debug-mode:          false!default;
$use-breadcrumb:      false!default;
$use-pagination:      false!default;
$use-pager:           false!default;
$use-btn-color:       true!default;
$use-btn-group:       false!default;
$use-btn-size:        true!default;
$use-input-group:     false!default;
$use-split:           false!default;
$use-rules:           false!default;
$use-this-or-this:    false!default;
$use-has-feedback:    false!default;
$use-color-text:      true!default;
$use-table:           true!default;
$use-color-table:     false!default;
$use-column-table:    true!default;
$use-flexbox:         false!default;
$use-adaptive:        true!default;

// plugins
$use-animations:      false!default;

// Variables
@import "_variables";

// Util
@import "utils/_glob";

// Base
@import "base/_glob";

// Components
@import "components/_glob";

// Layout
@import "layout/glob";

// Vendors
@import "vendors/glob";

