//
// Modules -> Navs
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;
  background: rgba(0,0,0,0.6);
  @media (min-width: $screen-md-min) {
    margin-top: 39px;
  }
  @media (min-width: $screen-md-min) {
    background: none;
  }

  > li {
    position: relative;
    display: block;

    @media (min-width: $screen-md-min) {
      display: inline-block;
    }
    > a {
      position: relative;
      display: block;
      padding: 7px 12px;
      @media (min-width: $screen-lg-min) {
        padding: $nav-link-padding;
      }
      @media (min-width: $screen-md-min) {
        background: none;
        @include border-radius(18px);
      }
      text-transform: uppercase;
      &:active,
      &:hover,
      &:focus {
        text-decoration: none;
        color: $light;
        background-color: $nav-link-hover-bg;
      }
    }
  }
  // Prevent IE8 from misplacing imgs
  > li > a > img {
    max-width: none;
  }
}

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }
  @media (min-width: $screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}