.calculator__body.col-xlg-10.center-block
	.row
		.col.col-lg-3.col-sm-6.col-xs-10.center-block
			.calculator__body-item
				ul.list--unstyled
					li.cart_item.box-filter(data-price="4500")
						span Абрикос
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="1500")
						span Ананас
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Апельсин
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Арбуз
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Банан
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Виноград
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Вишня
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Гранат
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Грейпфрут
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
		.col.col-lg-3.col-sm-6.col-xs-10.center-block
			.calculator__body-item
				ul.list--unstyled
					li.cart_item.box-filter(data-price="4500")
						span.product-name__text Груша
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="1500")
						span.product-name__text Дыня
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span.product-name__text Киви
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Клубника
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Кокос
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Лайм
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Лимон
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Манго
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Мандарин
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
		.col.col-lg-3.col-sm-6.col-xs-10.center-block
			.calculator__body-item
				ul.list--unstyled
					li.cart_item.box-filter(data-price="4500")
						span Персик
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="1500")
						span Помелло
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Слива
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Смородина
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Финик
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Хурма
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="шт.", data-step="1", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Черёмуха
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Черешня
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
					li.cart_item.box-filter(data-price="500")
						span Яблоко
						span.text--center
							a.dec(href="#") +
							a.inc(href="#") -
						span
							input.form-control.product-quantity__input(type="text", value="0", data-val="кг.", data-step="0.5", readonly)
							i.product-quantity__val
		.col.col-lg-3.col-sm-6.col-xs-10.center-block
			.calculator__body-item.text--center
				.footer-price.order-amount__second.margtop50.margbot60
					h1
				a.btn.btn--primary(data-toggle='modal', href="#order-id") Сделать заказ

