header
    nav.navbar.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#'): img(src="images/logo.png", alt="")
            .collapse.navbar-collapse.navbar-ex1-collapse.relative
                ul.anchor.nav.navbar-nav.text--center
                    li.active
                        a(href='#main') Главная
                    li
                        a(href='#boxes') О вкусном
                    li
                        a(href='#calculator') Корзины
                    li
                        a(href='#contacts') Контакты
                .navbar-right.text--lg--center.text--center.text--md--right
                    a.phone(href="tel:89252007444")
                        sup 925
                        b  200-74-44
                    br
                    a(data-toggle='modal', href="#call-id") заказать звонок