// ThanksModal
.modal.fade(id='ThanksModal')
	.modal-dialog.modal-sm
		.modal-content
			.modal-body.text--center
				legend Спасибо!
				p.font--lg Спасибо, что Вы доверились нам
					br
					|  и оставили заявку.
					.font--sm Мы перезвоним Вам через несколько минут.
				button.btn.btn--primary.btn--lg.margtop30.margbot20(type='button', data-dismiss="modal", aria-label="Close") Хорошо!

.modal.fade(id='modal-id-1')
	.modal-dialog.modal-md
		.modal-content
			.modal-body.text--center 
				button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
				h2.modal-title.boxes__title
					b DEMO
					| BOX
				ul.list--unstyled.boxes__list.col-lg-5.col-xs-7.center-block
					li 
						span Груша
						span 7 шт
					li 
						span Дыня
						span 1 шт
					li 
						span Киви
						span 3 шт
					li 
						span Клубника
						span 500 гр
					li 
						span Кокос
						span 1 шт
					li 
						span Лайм
						span 1 шт
					li 
						span Лимон
						span 1 шт
					li 
						span Манго
						span 2 шт
					li 
						span Мандарин
						span 4 шт	
				.margtop30.margbot20
					a.btn.btn--primary(href="#cord-id", data-toggle='modal', data-dismiss="modal", aria-label="Close") СДЕЛАТЬ ЗАКАЗ


.modal.fade(id='call-id')
	.modal-dialog.modal-md
		.modal-content
			.modal-body.text--center 
				button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
				h3.text--uppercase.modal-title Заказ обратного звонка
				form(method="post", action="formPHP/send.php", role='form', novalidate)
					.form-group
						input.form-control(type="text", name="name", placeholder="Ваше имя", data-label="Введите ваше имя", required)
					.form-group
						input.form-control(type="text", name="phone", placeholder="Ваш телефон", data-label="Введите ваш телефон", required)
					.form-group.margtop30.margbot10
						input.btn.btn--lg.btn--primary(type="submit", value="Перезвоните мне", data-success-modal="#ThanksModal")

.modal.fade(id='cord-id')
	.modal-dialog.modal-md
		.modal-content
			.modal-body.text--center
				button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
				h3.text--uppercase.modal-title Заказ коробки
				form(method="post", action="formPHP/send.php", role='form', novalidate)
					.form-group
						input.form-control(type="text", name="name", placeholder="Ваше имя", data-label="Введите ваше имя", required)
					.form-group
						input.form-control(type="text", name="phone", placeholder="Ваш телефон", data-label="Введите ваш телефон", required)
					.form-group.margtop30.margbot10
						input.btn.btn--lg.btn--primary(type="submit", value="Заказать", data-success-modal="#ThanksModal")


.modal.fade(id='order-id')
	.modal-dialog.modal-md
		.modal-content
			.modal-body.text--center 
				button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
				h3.text--uppercase.modal-title форма заказа
				form(method="post", action="formPHP/send.php", role='form', novalidate)
					ul.list--unstyled.boxes__list.col-lg-6.col-xs-10.center-block.margbot50
						li 
							span Наименование: 
							span Своя коробка
						li 
							span Стоимость: 
							span.num 0 рублей
							input.num(type="hidden", name="count")
					.form-group
						input.form-control(type="text", name="name", placeholder="Ваше имя", data-label="Введите ваше имя", required)
					.form-group
						input.form-control(type="email", name="email", placeholder="Ваш адрес", data-label="Введите ваш адрес", required)
					.form-group
						input.form-control(type="text", name="phone", placeholder="Ваш телефон", data-label="Введите ваш телефон", required)
					.form-group.margtop60.margbot20
						input.btn.btn--lg.btn--primary(type="submit", value="Заказать", data-success-modal="#ThanksModal")