//
// Partials -> Header
// ------------------------------------

.relative {
  position: relative;
}

header {
  color: #FFF;
  a {
    color: #FFF;
    line-height: 1.2;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
    padding: 6px 0;
    display: inline-block;
    @media (min-width: $screen-md-min) {
      padding: 0;
    }
  }
  .phone {
    sup {
      font-size: 14px;
      top: 0;
    }
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
    @media (min-width: $screen-md-min) {
      font-size: 30px;
      padding-top: 27px;
      display: inline-block;
      sup {
        font-size: 17px;
        top: -14px;
      }
    }
  }
}

.close {
  float: right;
  font-size: ($font-size-base * 1.5);
  font-weight: $close-font-weight;
  line-height: 1;
  color: $close-color;
  // text-shadow: $close-text-shadow;
  @include opacity(.9);

  &:hover,
  &:focus {
    color: $close-color;
    text-decoration: none;
    cursor: pointer;
    @include opacity(.5);
  }
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
