//
// Partials -> Main
// ------------------------------------

// main
.main {
  background:  #E2ED31 url("../images/girl.jpg") no-repeat center top;
  padding-top: 209px;
  position: relative;
  &-text {
    position: relative;
    z-index: 10;
  }
  h1 {
    text-shadow: 0.6px 0.8px 1px rgba(0, 0, 0, 0.49);
    color: #f9cb32;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
  }

  .fruits, .fruit {
    position:absolute;
    width:100%; 
    height:100%;
    overflow: hidden;
    top: 0;
    z-index: 0;
  }
  .fruit {
    background-position:center
  }

  .fruit-1 {
    background-image:url('../images/fruit1.png')
  }

  .fruit-2 {
    background-image:url('../images/fruit2.png')
  }
  .fruit-3 {
    background-image:url('../images/fruit3.png')
  }
  .fruit-4 {
    background-image:url('../images/fruit4.png')
  }
}



//tabs
.tabs {
  margin-top: 40px;
  @media (min-width: $screen-lg-min) {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  img {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(grayscale.svg#old-timey);
  }
  :hover img,
  .active img {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(10%);
    -moz-filter: grayscale(10%);
    -ms-filter: grayscale(10%);
    -o-filter: grayscale(10%);
    filter: url(normal.svg#old-norm);
  }
}
.tab-content {
  padding-top: 0;
  @media (min-width: $screen-lg-min) {
    padding-top: 114px;
    padding-left: 30px;
  }
}


// boxes
.boxes {
  color: $light;
  &__line {
    &-1 {
      background: #f7c832 url("../images/boxes-1.png") no-repeat right 26px center;
      padding: 20px 26px;
      margin-bottom: 18px;
      @media (min-width: $screen-lg-min) {
        padding: 40px 26px 40px 88px;
      }
      @media (min-width: $screen-md-min) {
        margin-bottom: 0;}
      .btn:hover,
      .btn:focus,
      .btn.focus {
        color: #f7c832;
      }
    }
    &-2 {
      background: #bfcb24 url("../images/boxes-2.jpg") no-repeat right bottom;
      padding: 20px 26px;
      @media (min-width: $screen-lg-min) {
        padding: 40px 26px 40px 60px;
      }
      .btn:hover,
      .btn:focus,
      .btn.focus {
        color: #bfcb24;
      }
    }
    &-3 {
      background: #d5df2c url("../images/boxes-4.png") no-repeat right center;
      padding: 20px 26px;
      margin-bottom: 18px;
      @media (min-width: $screen-lg-min) {
        padding: 40px 26px 40px 88px;
      }
      @media (min-width: $screen-md-min) {
        margin-bottom: 0;}
      .btn:hover,
      .btn:focus,
      .btn.focus {
        color: #d5df2c;
      }
    }
    &-4 {
      background: #fbd043 url("../images/boxes-2.png") no-repeat right center;
      padding: 20px 26px;

      @media (min-width: $screen-sm-min) {
        background: #fbd043 url("../images/boxes-2.png") no-repeat left center;
      }
      @media (min-width: $screen-lg-min) {
        padding: 40px 88px 40px 26px;
      }
      .btn:hover,
      .btn:focus,
      .btn.focus {
        color: #fbd043;
      }
    }
    &-top {
      margin-top: 18px;
      margin-bottom: 18px;
      @media (min-width: $screen-md-min) {
        background: -webkit-linear-gradient(to left, #bfcb24 0px, #bfcb24 40%, #fff 40.01%, #fff 50.01%, #f7c832 60.01%, #f7c832 100%);
        background: -moz-linear-gradient(to left, #bfcb24 0px, #bfcb24 40%, #fff 40.01%, #fff 50.01%, #f7c832 60.01%, #f7c832 100%);
        background: -o-linear-gradient(to left, #bfcb24 0px, #bfcb24 40%, #fff 40.01%, #fff 50.01%, #f7c832 60.01%, #f7c832 100%);
        background: linear-gradient(to left, #bfcb24 0px, #bfcb24 40%, #fff 40.01%, #fff 50.01%,#f7c832 60.01%, #f7c832 100%);
      }
    }
    &-bottom {
      margin-top: 18px;
      margin-bottom: 18px;
      @media (min-width: $screen-md-min) {
        background: -webkit-linear-gradient(to right, #d5df2c 0px, #d5df2c 30%, #fff 30.01%, #fff 50.01%, #fbd043 50.01%, #fbd043 100%);
        background: -moz-linear-gradient(to right, #d5df2c 0px, #d5df2c 30%, #fff 30.01%, #fff 50.01%, #fbd043 50.01%, #fbd043 100%);
        background: -o-linear-gradient(to right, #d5df2c 0px, #d5df2c 30%, #fff 30.01%, #fff 50.01%, #fbd043 50.01%, #fbd043 100%);
        background: linear-gradient(to right, #d5df2c 0px, #d5df2c 30%, #fff 30.01%, #fff 50.01%, #fbd043 50.01%, #fbd043 100%);
      }
    }
  }
  &__price {
    font-size: 60px;
    font-weight: 200;
    span {
      font-size: 36px;
    }
  }
  &__title {
    text-transform: uppercase;
  }
  &__desc {
    line-height: 28px;
  }
  &__list {
    text-align: left;
    color: #FFF;
    span {
      width: 55%;
      display: inline-block;
      & + span {
        width: 44%;
      }
    }
    li {
      margin-bottom: 15px;
    }
  }
}

// composition
.composition {
  padding: 20px 0;
  @media (min-width: $screen-md-min) {
    padding: 52px 0 150px;
  }
}


// calculator
.calculator {
  background: url('../images/calc-back-1.png') no-repeat top 125px left 150px, url('../images/calc-back-2.png') no-repeat bottom right, #f7c533;
  color: $light;
  padding: 30px 0;
  .btn:hover,
  .btn:focus,
  .btn.focus {
    color: #f7c533;
  }
  @media (min-width: $screen-md-min) {
    padding: 67px 0 183px;
  }
  .form-control {
    width: 30px;
    padding: 0;
    border: 1px solid transparent;
    text-align: center;
    height: 20px;
    display: none;
  }
  .box-filter {
    span {
      font-size: 18px;
      display: inline-block;
      width: 49%;
      padding-left: 14px;
      @media (min-width: $screen-sm-min) {
        padding-left: 0;
      }
      &:nth-child(2) {
        width: 20%;
        padding-left: 0;
      }
      &:last-child {
        text-align: left;
        margin-left: 4px;
        width: 25%;
        padding-left:0;
      }
    } 
    a {
      color: $light;
      font-size: 24px;
      margin: 0 5px;
    }
  }
  &__body {
    margin-top: 90px;
  }
}

// contacts
.contacts {
  color: $light;
  font-size: 18px;
  #map {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(grayscale.svg#old-timey);
  }
  h2 {
    font-weight: 700;
    font-family: 'exo_softbold';
    margin-bottom: 20px;
    @media (min-width: $screen-md-min) {
      margin-bottom: 40px;
    }

  }
  &__line {
    margin-top: 18px;
    &-1 {
      margin-bottom: 18px;
      @media (min-width: $screen-xlg-min) {
        margin-bottom: 0;
      }
    }
    &-2 {
      background: url("../images/contacts-back.jpg") no-repeat center center / cover;
      padding: 20px 26px;
      @media (min-width: $screen-md-min) {
        padding: 42px 30px;
      }
      @media (min-width: $screen-lg-min) {
        padding: 42px 40px 41px 65px;
      }
      p {
        margin-bottom: 15px;
      }
    }
    &-3 {
      background: #d5df2c url("../images/contacts-back-3.jpg") no-repeat left center;
      padding: 20px 26px;
      margin-bottom: 18px;
      @media (min-width: $screen-xlg-min) {
        padding: 27px 79px 76px 88px;
        margin-bottom: 0;
      }
    }
    &-4 {
      background: #efb333;
      padding: 20px 26px;
      @media (min-width: $screen-md-min) {
        padding: 18px 40px 38px;
      }
      .btn:hover,
      .btn:focus,
      .btn.focus {
        color: #efb333;
      }
    }
    .btn {
      margin-top: 20px;
      @media (min-width: $screen-md-min) {
        margin-top: 0;
      }
    }
  }
  .form-control {
    @include border-radius(0);
    border: 1px solid transparent;
    border-bottom: 1px solid $light;
    &:focus {
      border-bottom: 1px solid $input-border-focus;
    }
  }
  .form-group {
    @media (min-width: $screen-md-min) {
      margin-bottom: 35px;
    }
  }
}
.product-quantity__val {
  width: 30px;
  display: inline-block;
  font-style: normal;
}
.contacts .tooltip-inner {
  top: 10px;
  @media (min-width: $screen-md-min) {
    position: absolute;
    left: 0;
    top: -17px;
  }
}