extends layouts/_default

block content
    - var title = { description: 'Typical' } 
    section.main#main
        .container.main-text
            .text--center
                p.margbot90: img(src="images/title.png", alt="")
                p.margbot90: img(src="images/title-sub.png", alt="")
                p.margbot30.anchor: a(href="#boxes"): img(src="images/down.png", alt="")
        .fruits#fruits
            .fruit.layer.fruit-1(data-depth="0.10")
            .fruit.layer.fruit-2(data-depth="0.20")
            .fruit.layer.fruit-3(data-depth="0.30")
            .fruit.layer.fruit-4(data-depth="0.6")
    section.boxes#boxes
        .boxes__line-top
            .container
                .row
                    .col.col-md-7.col-xs-12
                        .boxes__line-1
                            h2.boxes__title
                                b DEMO
                                | BOX
                            p.boxes__desc Для вас, мы приготовили  фруктовую
                                span.text--uppercase
                                    b  демо
                                    | коробку
                                br
                                | - 4 кг фруктов!
                            p.boxes__price 1 500
                                span Р
                            a.btn.btn--primary(data-toggle='modal', href="#modal-id-1") Узнать состав
                    .col.col-md-5.col-xs-12
                        .boxes__line-2
                            h2.boxes__title
                                b GIFT
                                | BOX
                            p.boxes__desc Правильное питание вне дома
                                br
                                | - 5 кг фруктов!
                            p.boxes__price 2 500
                                span Р
                            a.btn.btn--primary(data-toggle='modal', href="#modal-id-1") Узнать состав
        .boxes__line-bottom
            .container
                .row
                    .col.col-md-5.col-xs-12
                        .boxes__line-3
                            h2.boxes__title
                                b FITO
                                | BOX
                            p.boxes__desc С любовью к своему телу
                                br
                                | - 2 кг фруктов!
                            p.boxes__price 990
                                span Р
                            a.btn.btn--primary(data-toggle='modal', href="#modal-id-1") Узнать состав
                    .col.col-md-7.col-xs-12
                        .boxes__line-4.text--sm--right.text--left
                            h2.boxes__title
                                b office
                                | BOX
                            p.boxes__desc С заботой о своих близких
                                br
                                | - 7 кг фруктов!
                            p.boxes__price 3 500
                                span Р
                            a.btn.btn--primary(data-toggle='modal', href="#modal-id-1") Узнать состав
    section.composition#composition.hidden--xs
        .container
            .text--center
                h2.text--uppercase.text--warning калорийность и состав фруктов
                p.text--uppercase витаминно-минеральный состав фруктов
            .relative.col-md-10.center-block.col-xs-12
                ul.list--inline.tabs.col-lg-8(role='tablist')
                    li.active
                        a(href='#tab1', role='tab', data-toggle='tab'): img(src="images/fruit_1.jpg", alt="")
                    - for (var x = 2; x < 13; x++)
                        li
                            a(href='#tab#{x}', role='tab', data-toggle='tab'): img(src="images/fruit_#{x}.jpg", alt="")
                .tab-content
                    #tab1.active.tab-pane.fade.in
                        .row
                            .col.col-md-6.col-xs-12
                                h2.text--warning.margtop40 Апельсин
                                p Нередко в химическом составе фруктов содержатся уникальные природные соединения, которые считаются незаменимыми для человеческого организм. Например, цитрусовые фрукты славятся большим содержанием витамина С в своем составе. От соединений, входящих в состав плодов зависит и калорийность фруктов.
                            .col.pull-right.col-md-4.col-xs-12.text--center.text--md-left
                                img(src="images/orange.jpg", alt="")
                                table.table.table--bordered.t75
                                    tbody
                                        tr
                                            td
                                                span.text--uppercase БЕЛКИ
                                                h2 0,9
                                            td
                                                span.text--uppercase жиры
                                                h2 0
                                        tr
                                            td
                                                span.text--uppercase углеводы
                                                h2 13,6
                                            td
                                                span.text--uppercase каллории
                                                h2 46
                                    tfoot
                                        tr
                                            td
                                                h2 Вода
                                            td
                                                h2 85%
                    - for (var x = 2; x < 13; x++)
                        .tab-pane.fade(id="tab#{x}")
                            .row
                                .col.col-md-7.col-xs-12
                                    h2.text--warning.margtop40 Малина
                                    p Нередко в химическом составе фруктов содержатся уникальные природные соединения, которые считаются незаменимыми для человеческого организм. Например, цитрусовые фрукты славятся большим содержанием витамина С в своем составе. От соединений, входящих в состав плодов зависит и калорийность фруктов.
                                .col.pull-right.col-md-4.col-xs-12.text--center.text--md-left
                                    img(src="images/orange.jpg", alt="")
                                    table.table.table--bordered.t75
                                        tbody
                                            tr
                                                td
                                                    span.text--uppercase БЕЛКИ
                                                    h2 0,9
                                                td
                                                    span.text--uppercase жиры
                                                    h2 0
                                            tr
                                                td
                                                    span.text--uppercase углеводы
                                                    h2 13,6
                                                td
                                                    span.text--uppercase каллории
                                                    h2 46
                                        tfoot
                                            tr
                                                td
                                                    h2 Вода
                                                td
                                                    h2 85%
    section.calculator#calculator
        .container
            .text--center
                h2.text--uppercase СОБЕРИ СВОЮ КОРОБКУ
                p.text--uppercase Если ваш заказ превышает сумму 4000 р.
                    br
                    | доставка бесплатно

            include modules/_calc
    section.contacts#contacts
        .container
            .contacts__line
                .row
                    .col.col-md-7.col-xs-12
                        .contacts__line-1
                            #map
                                //img(src="../images/map.jpg", alt="")
                                script(type="text/javascript", charset="utf-8", src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=u5NgFowLAGDNskTGOqnzgEzGNM-PnjDi&width=100%&height=350&lang=ru_RU&sourceType=constructor")
                    .col.col-md-5.col-xs-12
                        .contacts__line-2
                            h2.text--uppercase контакты
                            p н. Москва, ул. Медведей д.1
                                br
                                | стр  5
                            p телефон:
                                br
                                | 8 495 777 77 77
                            p почта:
                                br
                                | vopros@fruitomania.ru
            .contacts__line
                .row
                    .col.col-md-5.col-xs-12
                        .contacts__line-3
                            h2.text--uppercase.margbot40 Доставка
                            p Оперативная доставка в течении 3 часов
                            p Доставка в любой район Москвы и 
                                br
                                | области
                            p Свой автопарк
                    .col.col-md-7.text--md--right.text--center.col-xs-12
                        .contacts__line-4
                            h2.text--uppercase Напишите нам
                            form.form-horizontal(method="post", action="formPHP/send.php", role='form', novalidate)
                                .form-group.row
                                    .col.col-md-6.col-xs-12
                                        input.form-control(type='text', name="name", placeholder='Ваше имя', data-label="Введите ваше имя", required)
                                    .col.col-md-6.col-xs-12
                                        input.form-control(type='text', name="phone", placeholder='Ваш телефон', data-label="Введите ваш телефон", required)
                                .form-group
                                    input.form-control(type='text', name="message", placeholder='Ваш вопрос', data-label="Введите ваш вопрос", required)
                                button.btn.btn--primary(type='submit', data-success-modal="#ThanksModal") Отправить
